html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;


    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        z-index: -9998;

        background-color: #e7e7e7;
        color: #262626;
        overflow: hidden;

        #render-target {
            width: 100%;
            height: 100%;

            .app {
                width: 100%;
                height: 100%;
            }
        }
    }
}
