.account {
    position: relative;

    .dashboard-button {
        position: absolute;
        right: -4px;
        top: -66px;

        .icon {
            font-size: 10px;
            width: 3.3em;
            color: white;
            cursor: pointer;
            padding: 20px;

            &:hover {
                transform: scale(1.2);
            }
            &:active {
                transform: scale(1.5);
            }
        }
    }
}