.main {
    height: 100%;
    
    header {
        height: 64px;
        background-color: rgba(204, 60, 0, 1);

        @media screen and (min-width: 768px) {
        }

        .logo {
            font-family: lemon;
            color: white;
            line-height: 64px;
            font-size: 28px;
            font-weight: 100;
            text-align: center;
        }
    }

    content {
        position: relative;
        display: block;
        height: calc(100% - 64px);

        // padding: 0px 16px 16px 16px;

        @media screen and (min-width: 768px) {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 32px 32px 32px;
        }

    }

}
