.notification {
    border-bottom: hsla(0, 0%, 50%, 1) 2px solid;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: relative;

    .icon {
        width: 32px;
    }

    .description {
        position: absolute;
        left: 60px;
    }

    .reward {
        color: rgba(0, 128, 0, 0.8);
        font-weight: bold;
    }
}