.dashboard {
    position: relative;
    height: 100%;

    .account-button {
        position: absolute;
        right: -4px;
        top: -66px;

        .icon {
            font-size: 10px;
            width: 3em;
            color: white;
            cursor: pointer;
            padding: 20px;

            &:hover {
                transform: scale(1.2);
            }
            &:active {
                transform: scale(1.5);
            }
        }
    }

    .today-date {
        position: absolute;
        font-size: 22px;
        color: #595959;
        width: 100%;
        text-align: center;
        top: 242px;
        font-weight: 100;
    }

    .day-stats {
        .stats {
            display: flex;
            .label {
                color: #e7e7e7;
                background-color: #262626;
                height: 26px;
                width: 26px;
                line-height: 38px;
                padding: 8px;
            }
            .value {
                border-bottom: #262626 1px solid;
                border-right: #262626 1px solid;
                width: 42px;
                line-height: 41px;
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                color: hsla(0, 0%, 20%, 1);
            }
            &:last-child .value {
                border-radius: 2px 0px;
            }

        }
    }

    .fit-rank {
        position: absolute;
        top: 0;
        right: 0;

        .label {
            color: #e7e7e7;
            background-color: #262626;
            font-size: 16px;
            padding: 2px 4px;
            border-radius: 2px 0px 0px 2px;
        }

        .description {
            font-size: 14px;
            padding-left: 2px;
            .number {
                color: hsla(120, 100%, 25%, 0.8);
                font-weight: bold;
            }
            .text {
                color: hsla(0, 0%, 35%, 1);
            }
        }
    }

    .main-score-display {
        position: absolute;
        display: flex;
        top: 40px;
        width: 100%;
        justify-content: center;

        .center-part {
            transform: scale(0.9);

            @media screen and (min-width: 420px) {
                transform: inherit;
            }

            position: relative;

            .groove-points {
                border: rgba(204, 60, 0, 1) 16px solid;
                border-radius: 100%;
                width: 170px;
                height: 170px;
                text-align: center;

                .value {
                    font-size: 68px;
                    font-family: lemon;
                    font-weight: 100;
                    margin-top: 20px;
                }

                .label {
                    font-size: 20px;
                    color: hsla(0, 0%, 25%, 1);
                }
            }
        }

    }

    .your-activity {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: calc(100% - 330px);
        background-color: #262626;
        color: #e7e7e7;
        overflow-y: auto;

        .label {
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .notifications {
            background: #e7e7e7;
            color: #404040;
        }
    }
}